.tombol{
    position: relative;
    width: 70px;
    height: 30px;
    font-size: 10px;
    background-color: #202231;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: width .5s, border-radius .5s;
}
.tombol *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
}
.icon{
    opacity: 0;
}
.tombol:focus{
    width: 30px;
    background-color: #44c08a;
    border-radius: 50%;
}
.tombol:focus .text-area {
    opacity: 0;
}
.tombol:focus .icon{
    opacity: 1;
    transition-delay: .5s;
}